In [47]:

# import necessary libraries
import pandas as pd
import os
import glob
import numpy as np
  
  
# use glob to get all the csv files
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.xlsx"))
  
  
# loop over the list of csv files
for f in csv_files:
    
    # read the csv file
    df = pd.read_excel(f)
    m=df.shape
    str=f.split("\\")[-1]
    str=str[0:8]
    df['date'] = pd.DataFrame(np.zeros((m[0], 1)))
    for i in range(0,m[0]):
     df['date'][i]=str

    #np.savetxt(f"{str}-{i}.csv", df, delimiter=", ", fmt="% s")
    df.to_excel(f"{str}-New.xlsx", index=False)
    os.remove(f)

    display(df)
    print()

C:\Users\r.abdollahi\AppData\Local\Temp\ipykernel_18248\1930184465.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i]=str

   ردیف نام نام خانوادگی  Id  مانده تعدادی        date
0     1   ص            ج   3           100  14000101.0
1     2   ث            ی   4           120  14000101.0
2     3   ل            ش   6            32  14000101.0
3     4   ی            ق   7            15  14000101.0

C:\Users\r.abdollahi\AppData\Local\Temp\ipykernel_18248\1930184465.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i]=str

    ردیف نام نام خانوادگی  Id  مانده تعدادی        date
0      1   ص            ج   3           100  14000801.0
1      2   ث            ی   4           120  14000801.0
2      3   ل            ش   6            32  14000801.0
3      4   ی            ق   7            15  14000801.0
4      5   ل            ش   8            -2  14000801.0
5      6   ی            ق   9           -19  14000801.0
6      7   ل            ش  10           -36  14000801.0
7      8   ی            ق  11           -53  14000801.0
8      9   ل            ش  12           -70  14000801.0
9     10   ی            ق  13           -87  14000801.0
10    11   ل            ش  14          -104  14000801.0
11    12   ی            ق  15          -121  14000801.0

C:\Users\r.abdollahi\AppData\Local\Temp\ipykernel_18248\1930184465.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i]=str

   ردیف نام نام خانوادگی  Id  مانده تعدادی        date
0     1   ص            ج   3           100  14010809.0
1     2   ث            ی   4           120  14010809.0
2     3   ل            ش   6            32  14010809.0
3     4   ی            ق   7            15  14010809.0
4     5   ل            ش   8            -2  14010809.0
5     6   ی            ق   9           -19  14010809.0
6     7   ل            ش  10           -36  14010809.0
7     8   ی            ق  11           -53  14010809.0

In [49]:
appended_data = []
for infile in glob.glob("*.xlsx"):
    data = pd.read_excel(infile)
    # store DataFrame in list
    appended_data.append(data)
# see pd.concat documentation for more info
appended_data = pd.concat(appended_data)
# write DataFrame to an excel sheet 
appended_data.to_excel('appended.xlsx')